# cache folders
.hypothesis/
.idea/
.ipynb_checkpoints/

# cache files
*.pyc


# local editable install info
*.egg-info/

# local python version info
.python-version
.venv/
venv/

# output file folders
files/
plots/
# in case of symbolic links
files
plots

# output files
*.html
*.tex
*.npy
*.npz
*.log
*.pdf
*.png
