bayesian-optimization>=1.0.0
cma>=2.6.0
cycler>=0.10.0
kiwisolver>=1.0.1
matplotlib>=2.2.3
mf2==2019.11.2
more-itertools==8.0.0
netCDF4>=1.5.2
numpy>=1.15.1
pandas>=0.23.4
progressbar2>=3.38.0
pyDOE>=0.3.8
pyparsing>=2.2.0
pyprojroot>=0.1.2
python-dateutil>=2.7.3
python-utils>=2.3.0
pytz>=2018.5
scikit-learn>=0.19.2
scipy>=1.1.0
six>=1.11.0
xarray>=0.12.3
