bayesian-optimization~=1.2.0
cma~=3.0.3
cycler~=0.10.0
dask[array]~=2021.10.0
kiwisolver~=1.3.1
matplotlib~=3.4.2
mf2~=2021.10.0
more-itertools~=8.8.0
netCDF4~=1.5.4
numpy~=1.21.1
pandas~=1.3.0
parse~=1.18.0
progressbar2~=3.52.1
pyDOE~=0.3.8
pyparsing~=2.4.7
pyprojroot~=0.2.0
python-dateutil~=2.8.1
python-utils~=2.4.0
pytz~=2020.1
scikit-learn~=0.24.1
scipy~=1.7.0
six~=1.16.0
xarray~=0.18.2
