#!/usr/bin/python
# -*- coding: utf-8 -*-

"""
local.py: A file to store variable information that is bound to a physical machine (i.e. hardcoded folder locations)
"""

__author__ = 'Sander van Rijn'
__email__ = 's.j.van.rijn@liacs.leidenuniv.nl'


base_dir = '~/mlcs/'
